
__pycache__
.env
/.venv
bots/__pycache__
o365_token.txt
memory.txt
/workspace
data.pickle
teams/scratch.py
*.pkl
*.log
/logs
/data
/bot/deleteme
/bot/logs
bot/logs/server.log.1
bot/logs/server.log.2
bot/logs/server.log.3
bot/logs/server.log.4
bot/logs/server.log.5
